body {
    background-color: mediumaquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.gridContainer {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
    grid-gap: 12px;
}

.grid-item-a {
    border-width: 10px;
    border-radius: 10px;
    text-align: center;
    border-color: whitesmoke;
    border-width: 15px;
    border-style: solid;
    height: 75px;
    width: 75px;
}

.grid-item-c {
    border-width: 12px;
    border-radius: 12px;
    text-align: center;
    border-color: black;
    border-width: 15px;
    border-style: solid;
    height: 75px;
    width: 75px;
}